.movie-app-cont {
  width: 1028px;
  margin: 0px auto;
  background-color: white;
  padding: 32px 36px 15px 36px;
  min-height: 100vh;
  position: relative;
}
.main {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}

.header {
  padding-bottom: 32px;
}

.ant-tabs .ant-tabs-content {
  position: static;
}

.ant-tabs-nav {
  width: fit-content;
  align-self: center;
}

.ant-tabs-tab {
  padding-left: 10px !important;
  padding-right: 10px !important;
}