@import './App/App.scss';
@import './MoviesList/MoviesList.scss';
@import './MovieCard/MovieCard.scss';
@import './Spinner/Spinner.scss';
@import './Pagination/Pagination.scss';
@import './AlerModule/AlertModule.scss';
@import './RateModule/RateModule.scss';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
  margin: 0;
}
